html, body{
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
}
h1,h2,h3{
  font-weight: bold;
}
/* commons */
.divide-line {
  width: 80%;;
}

.center{
  text-align: center;
}

/* main.html */

.logo {
  margin-top:-7px;
  width: 35px;
}

.logo-label {
  margin-top: 15px;
  font-size:20px;
  font-weight: bold;
}
.logo-label > span {
  font-weight: 400;
  color: #777;
}

#slider{
    min-height: 590px;
    background-image: url('../images/banner1.jpg');
    background-repeat: none;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    height: 100vh;
  }
#color_layer{
  background-color: rgba(222, 80, 65, 0.1);
  background-repeat: no-repeat;
  min-height: 590px;
  height: 100%;
}
.dashboard-form{
  background: rgba(0,0,0,.5);
  padding: 30px;
  border-radius: 5px;
  display: inline-block;
}
.dashboard-form-container{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 265px;
}
#banner-label {
  font-size: 65px;
  margin-bottom: 50px;
  font-weight: bold;
}


.loading-spinner {
  margin:auto;
  margin-top: 10px;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,.15)
}
.main-container{
  padding-top: 60px;
}
.loading{
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  margin: auto;
  height: 200px;
}

.bar-chart-container {
  margin-top: 30px;
}
