/* modal */

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 200%;
    color: #000;
    z-index: 10;
}

.popup-content {
    width: 40%;
    height: 500px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
}



.modal-header{
    text-align: center;
    display: block;
}

.modal-form {
    padding: 15px;
}

.modal-close {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; 
}

.modal-form input.ng-invalid.ng-touched {
    border-color: #FA787E !important;
  }

.modal-form input.ng-valid.ng-touched {
    border-color: #78FA89 !important;
}


.error {
    border-color: #FA787E !important;
}

.field-error{
    color: rgb(133, 13, 17) !important;
}



@media screen and (max-width: 680px) {
    h1{
        font-size: 20px;
    }
}
