<div id="modal" class="modal ">
    <div class="popup-content animated jackInTheBox">
        <h1 class="modal-header">Search Flights</h1>
        <form ng-submit="$ctrl.showFlightDetails(form)" name="form" class="modal-form" novalidate>
            <div class="form-group">
              <label >Origin:</label>
              <!-- <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter source state"> -->
              <angucomplete-alt id="origin"
              placeholder="Enter origin state"
              pause="300"
              selected-object="$ctrl.selectedOrigin"
              local-data="$ctrl.flights"
              local-search="$ctrl.searchFlights"
              description-field="Origin"
              minlength="1"
              input-class="form-control"
              match-class="highlight"
              title-field="name"
              field-required="true"
              input-name="origin" />
              <small class="field-error" ng-show="form.$submitted || form.origin.$touched">
                <span ng-show="form.origin.$error['autocomplete-required']">Invalid Origin</span>
              </small>
              <small  class="form-text text-muted">All available states in USA only</small>
              
            </div>
            <div class="form-group">
                <label >Destination:</label>
                <angucomplete-alt id="origin"
                placeholder="Enter destination state"
                pause="300"
                selected-object="$ctrl.selectedDestination"
                local-data="$ctrl.flights"
                local-search="$ctrl.searchFlights"
                description-field="Destination"
                minlength="1"
                input-class="form-control"
                match-class="highlight"
                title-field="name" 
                field-required="true"
                input-name="destination"/>
                <small class="field-error" ng-show="form.$submitted || form.destination.$touched">
                  <span ng-show="form.destination.$error['autocomplete-required']">Invalid Destination</span>
                </small>
                <small  class="form-text text-muted">All available states in USA only</small>
              </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        <button type="submit"  ng-click="$ctrl.closePopup()" class="btn btn-danger modal-close">Close</button>
    </div>
</div>