<div id="modal" class="modal ">
    <div class="modal-content animated jackInTheBox">
        <h1 class="modal-header">Search Flights</h1>
        <form class="modal-form">
            <div class="form-group">
              <label for="exampleInputEmail1">Source:</label>
              <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter source state">
              <small  class="form-text text-muted">All available states in USA only</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Destination:</label>
                <input type="text" class="form-control" placeholder="Enter destination state">
                <small  class="form-text text-muted">All available states in USA only</small>
              </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        <button ng-click="$ctrl.closePopup()" class="btn btn-danger modal-close">Close</button>
    </div>
</div>