.flight-details-container {
    padding-top: 60px;
}

.recommendation {
    margin: auto;
}

.pdf-download-area {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 16%;
    margin-bottom: 15px;
    margin-top: 15px;
}


.fa_delay_ration {
    margin-bottom: 30px;
}

.delayFilter {
    width: 200px;
}

.filter-control-area {
    margin: auto;
    width: 220px;
    padding: 20px;
    
}

.type-control-area {
    padding: 20px;
}

.box {
    background-color: rgba(0,0,0, 0.1);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}