.flight-details-container {
    padding-top: 60px;
}

.recommendation {
    margin: auto;
}

.pdf-download-area {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}


.fa_delay_ration {
    margin-bottom: 30px;
}

.delayFilter {
    width: 200px;
}

.filter-control-area {
    margin: auto;
    width: 464px;
    padding: 20px;
    width: 105%;
}

.type-control-area {
    padding: 20px;
}

.box {
    background-color: rgba(0,0,0, 0.1);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.flightDelayArea {
    margin-bottom: 10px;
}

.fa_not_found {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
}

.fa_type_form {
    align-items: baseline;
    padding: 6px;
}