<div class="container-fluid flight-details-container">
    <div class="row">
        <div class="col">
           <h1 class="center">Flights from {{$ctrl.origin}} to {{$ctrl.dest}}</h1>
        </div>
    </div>

    <div class="row">

      <div class="col">
        <div class="pdf-download-area">
          <button pdf-save-button="flightDetails" pdf-name="Flights_from_{{$ctrl.origin}}_to_{{$ctrl.dest}}.pdf" type="button" class="btn btn-default btn-lg">
            <!-- <svg class="pdf-image" width="100" height="125" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" >
              <path fill="none" id="canvas_background" d="M-1-1h582v402H-1z"/>
              <g><path id="svg_1" d="M102.923 79.365a1.09 1.09 0 0 0-.991-.635H84.876V64.667c0-5.43-4.401-8.031-9.827-8.031-5.432 0-9.833 2.602-9.833 8.031V78.73H48.164c-.423 0-.812.248-.992.635-.179.387-.118.84.159 1.164l26.881 31.77c.21.242.515.389.837.389.317 0 .627-.146.831-.389l26.884-31.77a1.09 1.09 0 0 0 .159-1.164z"/>
                <path id="svg_2" d="M15.86 102.152V20.8h37.852v16.813c0 .227.095.446.253.602a.847.847 0 0 0 .598.251h16.582v14.679a17.59 17.59 0 0 1 3.93-.423c1.298 0 2.546.124 3.717.374v-16.51a3.796 3.796 0 0 0-1.126-2.707L58.021 14.271a3.847 3.847 0 0 0-2.701-1.115H12.036a3.834 3.834 0 0 0-2.702 1.118 3.855 3.855 0 0 0-1.122 2.703v89.001c0 1.002.41 1.989 1.122 2.701a3.844 3.844 0 0 0 2.702 1.119H65.89l-6.469-7.646H15.86z"/>
              </g>
            </svg> -->
            Download as pdf
          </button>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="center fa_delay_ration">Overall delay ratio : {{$ctrl.overallDelayRatio}} miniuts</h3>
    </div>
  </div>
  <div pdf-save-content="flightDetails">
      <div class="row">
        <div class="col-sm-6">
          <nvd3 options="$ctrl.correlationGraphOptions" data="$ctrl.correlationGraphData"></nvd3>
        </div>
        <div class="col-sm-6">
            <div class="recommendation">
                <h4 class="center">Recommended flights </h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Delay</th>
                        <th>Depreture time</th>
                        <th>Arrival time</th>
                      </tr>
                    </thead>
                    <tbody>      
                      <tr ng-if="$ctrl.recommendedFlights[0]" class="table-primary">
                        <td>{{$ctrl.recommendedFlights[0].date}}</td>
                        <td>{{$ctrl.recommendedFlights[0].arrivalDelay}} </td>
                        <td>{{$ctrl.recommendedFlights[0].departureTime}}</td>
                        <td>{{$ctrl.recommendedFlights[0].arrivalTime}}</td>
                      </tr>
                      <tr ng-if="$ctrl.recommendedFlights[1]" class="table-info">
                        <td>{{$ctrl.recommendedFlights[1].date}}</td>
                        <td>{{$ctrl.recommendedFlights[1].arrivalDelay}} </td>
                        <td>{{$ctrl.recommendedFlights[1].departureTime}}</td>
                        <td>{{$ctrl.recommendedFlights[1].arrivalTime}}</td>
                      </tr>
                      <tr ng-if="$ctrl.recommendedFlights[2]" class="table-success">
                        <td>{{$ctrl.recommendedFlights[2].date}}</td>
                        <td>{{$ctrl.recommendedFlights[2].arrivalDelay}} </td>
                        <td>{{$ctrl.recommendedFlights[2].departureTime}}</td>
                        <td>{{$ctrl.recommendedFlights[2].arrivalTime}}</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
            </div>
      </div>
      
      

    </div>
    <hr />
    <div class="row box">
      <div class="col-sm-6 ">
        <div class="form-group filter-control-area">
                <label style="width: 200px;" class="center font-weight-bold">Filter on specific day:</label> 
                <input  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2017-01-01" max="2017-01-31" placeholder="Select a date" type="date" class="form-control delayFilter" ng-model="$ctrl.date" ng-change="$ctrl.changeDate()">
        </div>
         
      </div>

      <div class="col-sm-6 type-control-area center">

          <div class="">
              <div class="form-group" style="margin-bottom:10px;">
                  <label class="font-weight-bold">Select data type:</label>
                </div>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="$ctrl.dataType" value="minute"  ng-change="$ctrl.changeDataType($ctrl.flightDelayData[0].values)" ng-checked="true">Delay minutes</label>
                    <label class="radio-inline"><input type="radio" name="optradio" ng-model="$ctrl.dataType" value="ratio" ng-change="$ctrl.changeDataType($ctrl.flightDelayData[0].values)">Delay ratio</label>
                </div>
          </div>
        

        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 flightDelayArea">
        <nvd3 options="$ctrl.flightDelayOptions" data="$ctrl.flightDelayData"></nvd3>
      </div>
    </div>
</div>

