.flight-details-container {
    padding-top: 60px;
}

.recommendation {
    margin: auto;
}

.pdf-download-area {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 16%;
    margin-bottom: 15px;
    margin-top: 15px;
}