<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col">
            <div class="slider">
                <div class="overlay">
                    
                    <div class="banner-content">
                        <h3 id="banner-label">Choose your best flight</h3>
                        <div>
                            <button ng-click="$ctrl.gettingStarted()" class="btn btn-success getting-started">Getting started</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<popup></popup>