
<div class="bar-chart-container">
	<div class="row">
		<div class="col-lg-12 form-inline center">
			<label>Filter on specific month: </label>
			<select  class="form-control date-filter-select" ng-model ="selectedDate" ng-change="selectFlightsDelaysOnDate()">
			   <option  value="{{date}}" ng-repeat="date in dates">
			        {{date}}
			  </option>
			  <option value="all">All</option>
		  	</select>
		</div>
	</div>
	
	
<!-- <a href="" ng-click="selectFligtsOnDate('2017-01-02')" style="text-align: center;">2017-01-01</a> -->
	<canvas id="bar" class="chart chart-bar"
	  chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors" chart-dataset-override="datasetOverride" chart-options="options" >
	</canvas>
</div>
