<div ng-show="!ready" class="loading">
	<md-progress-circular class="loading-spinner md-hue-3" md-diameter="70"></md-progress-circular>
	<h3 class="center">Intialzing app ...</h3>

</div>
<div ng-show="ready">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img class="logo" alt="Brand" src="images/logo.png">
	      </a>
	        <label class="logo-label">Flight <span>arrivals</span></label>
	    </div>
	  </div>
	</nav>

	<div ui-view></div>

</div>
